*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.db

env/
venv/
*.env
*.venv

.ipynb_checkpoints/
*.nbconvert/

Pipfile.lock
*.egg-info/

.vscode/
.idea/
*.swp

*.log
*.csv
*.xls
*.json

data/

*.bak

.DS_Store
Thumbs.db